 <div align="center"> Stay Up-To-Date With Our Email Newsletter Today! </div>
      <!-- BEGIN: Constant Contact Email List Form Button -->
           <div align="center"><a href="http://visitor.r20.constantcontact.com/d.jsp?llr=ryveyjrab&amp;p=oi&amp;m=1118092547857&amp;sit=4e4qyj5ib&amp;f=b6906fcc-9bc5-49ea-ad00-b5217307b601" class="button" style="background-color:#e8e8e8;border:solid 1px #5b5b5b;color:#5b5b5b;display:inline-block;padding: 8px 10px;text-shadow:none;">Subscribe Today</a></div>

<div class="footer">
  Grace Notes is a ministry of <a href="http://austinbiblechurch.com">Austin Bible Church</a>, Austin, TX, Pastor Bob Bolender.<br>
  Director: Louis Roth, PO BOX 515, Liberty Hill, TX 78642 - lroth@gracenotes.info. 
</div>
