<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="initial-scale=1, width=device-width">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<link href="/assets/css/print.css" media="print" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/unicode-base.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/unicode-categories.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/unicode-blocks.js"></script>
<script src="/assets/js/jquery.bibleref.min.js"></script>
<script src="/assets/js/jsonp.js"></script>
<script src="/assets/js/scripts.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
