@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);
/* line 4, ../../_sass/style.sass */
body {
  font-size: 18px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #35323e;
}

/* line 11, ../../_sass/style.sass */
h1 {
  font-weight: 200;
  font-size: 350%;
  margin-bottom: 10px;
}

/* line 16, ../../_sass/style.sass */
h2, h3, h4 {
  font-weight: 500;
}

/* line 19, ../../_sass/style.sass */
h2 {
  border: 2px solid #aaaaaa;
  border-width: 1px 0;
  padding: 5px 0;
  margin-top: 1em;
}

/* line 25, ../../_sass/style.sass */
.footnote a {
  color: #111111;
  text-decoration: none;
  font-size: 80%;
  font-weight: 400;
}

/* line 31, ../../_sass/style.sass */
p.footnote {
  font-size: 80%;
  line-height: 1.5;
  padding: 0 10px;
}

/* line 36, ../../_sass/style.sass */
.wrap {
  max-width: 100%;
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
}

/* line 44, ../../_sass/style.sass */
blockquote {
  position: relative;
  margin: 5px 0;
  padding: 15px 30px;
  background: #eeeeee;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ececec), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top left, #ececec, #f7f7f7);
  background: -moz-linear-gradient(top left, #ececec, #f7f7f7);
  background: -o-linear-gradient(top left, #ececec, #f7f7f7);
  background: linear-gradient(top left, #ececec, #f7f7f7);
}
/* line 50, ../../_sass/style.sass */
blockquote:before, blockquote:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left-color: white;
}
/* line 59, ../../_sass/style.sass */
blockquote:after {
  border-left-color: transparent;
  border-right-color: white;
  left: auto;
  right: 0;
}
/* line 65, ../../_sass/style.sass */
blockquote p {
  margin: 0 0 5px;
  padding: 0;
}
/* line 68, ../../_sass/style.sass */
blockquote p:last-child {
  margin-bottom: 0;
}
