---
layout: default
title: Grace Notes
---

<html>
  <head>
  <title>{{ page.title }}</title>
  {% include head.html %}
  </head>
  <body>
    <div class="wrap">
      <h1>
				{{ page.title }} <small>Training in Bible Teaching</small>
				<table>
					<tr>
						<th><a href="/">Home</a></th>
					{% for page in site.pages %}
						{% for cat in page.categories %}
						    {% if cat == "pages" %}
						      <th> | <a href="{{ page.url }}">{{ page.title }}</a></th>
						    {% endif %}
						{% endfor %}
					{% endfor %}
					</tr>
				</table>
			</h1>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
